@import url(../css/reset.css);
@import url(../css/style.css);


a:visited{
  text-decoration: none;
  color: white;
}

.nav-container{
  display: flex;
  font-size: 16px;
  font-weight: 300;
  padding: 21px 0px;
  padding-left: 300px;
  padding-right: 300px;
  justify-content: flex-start;
  align-items: center;
  color: white;
  a{
    text-decoration: none;
  }
}

.nav-home{
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
.nav-menu-wrapper{
  display: flex;
  list-style: none;
  text-decoration: none;
  margin-left: auto;
  .nav-menu{
  margin-left: 57px;
  a{
    color: white;
    text-decoration: none;
  }
  
  }
}

.main-img{
  background-image: url(./assets/temp/Sequence.png);
  background-color: black;
}